{% extends 'layouts/index.njk' %}

{% block body %}
  <h3>HTML Template Starter</h3>
  <ul>
    <li>Gulp</li>
    <li>SCSS</li>
    <li>JavaScript</li>
    <li>Minify</li>
    <li>Nunjucks</li>
    <li>Live Reload</li>
  </ul>
{% endblock %}
